.placeHolderBody {
  margin: 0 auto !important;
  padding: 25px;
  text-align: center;
  width: 80%;
  background-color: rgba(148, 156, 163, 0.15);
  border-radius: 0.18rem;
}

.placeHolderBody img {
  width: 45px;
}

.placeHolderBody a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #2f9fe0;
}

.placeHolderBody a:hover {
  color: #b85240;
}
