.Container {
  display: flex;
  flex: 40%;
  margin: 0 2rem;
  align-items: center;
}

.Container input {
  margin: 15px 4px 15px 15px;
}

.Container label {
  font-size: 1.1rem;
  color: #2f9fe0;
}

input {
  color: red;
}

.Container h3 {
  margin-left: 1rem;
  border-bottom: 3px solid #b85240;
  opacity: 80%;
}

@media (max-width: 550px) {
  .Container {
    display: block;
    text-align: center;
  }
}

@media (max-width: 500px) {
.Container label, input {
  text-align: center;
  display: block;
}

input {
  display: inline-block;
}

.Container form {
  padding: 0px 0px 35px 0px;
}

.Container input {
  margin: 15px;
}


}