.Orders {
  height: 70vh; 
  overflow-y:auto;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  border-radius: 0.2rem;
  border: 5px solid #2f9fe0;
  box-shadow: 0px 0px 7px #154764;
  flex: 40%;
  padding-left: 10px;
  text-align: center;
}

.Orders h4 {
  border-bottom: 4px solid #b85240;
  width: fit-content;
}

.OrderName {
  border-bottom: 2px solid #b85240;
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 720px) {
  .Orders {
    height: fit-content;
    position: static;
    flex: 50%;
    text-align: center;
    margin: 0 auto;
  }
}