.Orders {
  height: 70vh; 
  overflow-y:auto;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  border-radius: 0.1rem;
  border-left: 3px solid #2f9fe0;
  border-top: 1px solid rgba(34,36,38,.15);
  border-bottom: 1px solid rgba(34,36,38,.15);
  flex: 30%;
  padding-left: 10px;
}

.Orders em {
  color: #2f9fe0;
  font-weight: 700;
}

.Orders h4 {
  border-bottom: 4px solid #2f9fe0;
  width: fit-content;
}

.LineBreak {
  max-width: 40%;
  margin: 0px;
  margin-bottom: 20px;
  border: 0.1px solid red;
}

@media (max-width: 720px) {
  .Orders {
    height: fit-content;
    position: static;
    flex: 40%;
    border-left: none;
    text-align: center;
    margin: 0 auto;
  }

  h4, .LineBreak {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 30px;
  }
}