.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: #f5f5f5;
}

.DrawerToggle div:nth-child(1) {
    background-color: #2f9fe0;
}

.DrawerToggle div:nth-child(2) {
    background-color: #b85240;
}

@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}