.TopRow {
  display: flex;
  align-items: flex-start;
}

.TopRow img {
  padding-right: 1.5rem;
  margin-top: 1.5rem;
}

.Description {
  border: 1px solid grey;
  margin-top: 10px;
  padding: 1rem;
  box-shadow: 0px 0px 5px #555 inset;
  position: relative;
}

.Description p {
  margin-top: 0px;
}

@media (max-width: 500px) {
  .TopRow {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .TopRow img {
    padding: 0px;
    margin: 0px;
  }
}
