.NavigationItem {
  border-radius: 4px;
  background-color: #2f9fe0;
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
  display: flex;
  margin-right: 8px;
  width: auto;
  text-align:justify;
}

.NavigationItem a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  height: 100%;
  color: black;
  position: relative;
}

.NavigationItem a:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.3s;
}

.NavigationItem:hover a {
  padding-right: 35px;
  border-bottom: 4px solid #b85240;

}

.NavigationItem:hover a:after {
  opacity: 1;
  right: 0;
}

.active {
  border-bottom: 4px solid #b85240;
}
