.SearchContainer {
  position: relative;
  flex: 20%;
}

.Input {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0;
  outline: 0;
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  font-size: 1em;
  background: #fff;
  border: 3px solid #2f9fe0;
  color: black;
  border-radius: 0.25em;
  box-shadow: 0 0 0 0 transparent inset;
  transition: color 0.1s ease, border-color 0.1s ease;
  width: 100%;
}

.Input:focus {
  outline: none !important;
  border-color: #2f9fe0;
  box-shadow: 0 0 4px #1b5e85;
}

.Icon {
  padding: 0.5em 0.5em !important;
  /* box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.1) inset; */
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  border: none;
  background-color: transparent;
  background-size: 100%;
}

.Icon:hover {
  opacity: 1;
}
.Icon:active {
  outline: 0;
  transform: translateY(1px);
}

.Icon:focus {
  outline: 0;
}
