.BookCardBody {
  display: flex;
  flex-flow: wrap;
}

.CardItem {
  display: flex;
  flex-wrap: nowrap;
  flex: 33%;
  padding: 10px;
  padding-left: 5px;
}

.BookImage {
  margin-left: 15px;
  border-radius: 0.3rem;
}

.BookImage:hover {
  cursor: pointer;
  border-bottom: 3px solid #b85240;
  transition: border-bottom 0.2s linear;
  border-left: 3px solid #2f9fe0;
  transition: border-left 0.2s linear;
}

.BookBody {
  padding-left: 5px;
}

.Details {
  display: block;
}

.Details h3 {
  margin-bottom: 0px;
  opacity: 55%;
  cursor: not-allowed;
}

.Price {
  font-size: 28px;
  margin: 5px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15);
  width: fit-content;
}

.Details button {
  padding: 7px 7px 7px 30px;
  background: url("../../assets/images/shoppingCart.svg") no-repeat;
  border: 2px solid #2f9fe0;
  border-radius: 0.3rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  font-size: 11px;
}

.Details button:hover {
  color: white;

  background-color: #b85240;
  border: 2px solid #b85240;
}

.Details button:active {
  outline-style: none;
  box-shadow: 2px 2px 15px rgb(70, 69, 69) inset;
  background-color: #b64d3b
}

.Details button:focus {
  outline-style: none;

}

.CardTitle {
  margin: 1px;
}

@media (max-width: 1150px) {
  .CardItem {
    flex: 50%;
  }
}

@media (max-width: 500px) {
  .CardItem {
    flex: 100%;
  }
}
