.CartBtn {
  background: url("../../../assets/images/shoppingCart.svg") no-repeat;
  padding: 7px 7px 7px 30px;
  border: 2px solid #2f9fe0;
}

.CartBtn,
.Close,
.InCart,
.Remove,
.Order {
  border-radius: 0.3rem;
  font-size: 11px;
}

.CartBtn:hover,
.Close:hover {
  color: white;
  background-color: #b85240;
  border: 2px solid #b85240;
  font-weight: 700;
}

.CartBtn:active,
.Close:active {
  outline-style: none;
  box-shadow: 2px 2px 15px rgb(70, 69, 69) inset;
  background-color: #b64d3b;
  border: 2px solid #b64d3b;
}

.CartBtn:focus,
.InCart:focus,
.Close:focus,
.Order {
  outline-style: none;
}

.Close {
    margin-left: 10px;
  padding: 7px 7px 7px 7px;
  border: 2px solid #b85240;
  background-color: white;
}

.InCart {
  padding: 7px;
  color: green;
  font-size: 12px;
  border-color: #b64d3b;
  box-shadow: 2px 2px 5px rgb(70, 69, 69) inset !important;
}

.Order {
  border: none;
  background-color: rgb(243, 177, 54);
  padding: 10px;
  font-size: 1em;
}

.Order:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(175, 128, 40);
}

.Order:active {
  box-shadow: 2px 2px 15px rgb(70, 69, 69) inset;
  font-size: 0.99em;
}

.Order:disabled {
    cursor: not-allowed;
}